In [ ]:
import pandas as pd

## creation of series

In [ ]:
# Series with sefault index
data = [10, 20, 30, 40, 50] 
series1 = pd.Series(data)
series1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
# series with custom index 
series2 = pd.Series(data,index=["A","B","C","D","E"])
series2

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [8]:
# Series with dict
data_dict = {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50} 
series3 = pd.Series(data_dict)
print(series3)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [10]:
# Series with scalar value 
index=["A","B","C","D","E"]
series4 = pd.Series(100,index=index)
series4

A    100
B    100
C    100
D    100
E    100
dtype: int64

## basic properties

In [11]:
# Accessing the actual values in the series 
print(series3.values)

[10 20 30 40 50]

In [12]:
# Accessing the index in the series 
print(series3.index)

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [14]:
# finding the data type of a series 
print(series3.dtype)

int64

## Accessing Elements in a Series

In [16]:
# access by position 
print(series3.iloc[2])

30

In [19]:
# Accessing the position by the lable 
print(series3.loc['D'])

40

In [ ]:
# Accessing multiple elements in a series by position
print(series3[1:4])

B    20
C    30
D    40
dtype: int64

In [21]:
# Accessing multiple elements in a series by lable
print(series3['A':'D'])

A    10
B    20
C    30
D    40
dtype: int64

## Performing Operations on a Series

In [22]:
# Arthematic operations 
series5 = series3+15
print(series5)

A    25
B    35
C    45
D    55
E    65
dtype: int64

In [23]:
# Aggrigations
print(series5.sum())
print(series5.mean())
print(series5.min())
print(series5.max())

225
45.0
25
65

In [25]:
# applaying functions (squaring of numbers)
squaringS_5 = series5.apply(lambda x : x**2)
print(squaringS_5)

A     625
B    1225
C    2025
D    3025
E    4225
dtype: int64

## Handling Missing Data in Series

In [ ]:
# checking the missing data (isna/isnull)
series6 = pd.Series([10, 20, None, 40, 50]) 
print(series6.isna())

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [29]:
# Filling the missing values
series6_cleaned = series6.fillna(0)
print(series6_cleaned)

0    10.0
1    20.0
2     0.0
3    40.0
4    50.0
dtype: float64

In [30]:
# Drop missimg values
series6_droppedna = series6.dropna()
print(series6_droppedna)

0    10.0
1    20.0
3    40.0
4    50.0
dtype: float64

In [31]:
# Real world use case (finding strikr_rate )
runs_series = pd.Series([10, 20, 30, 40, 50], index=['Player A', 'Player B', 'Player C', 'Player D', 
'Player E']) 
balls_faced = pd.Series([5, 8, 9, 10, 6], index=['Player A', 'Player B', 'Player C', 'Player D', 
'Player E']) 

strike_rate = (runs_series/balls_faced)*100
print(strike_rate)

Player A    200.000000
Player B    250.000000
Player C    333.333333
Player D    400.000000
Player E    833.333333
dtype: float64