In [8]:
%pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd
import openpyxl

In [2]:
employee_df = pd.read_csv(r"C:\Users\heman\Desktop\chat gpt\data\input\realistic_employee_data.csv")
employee_df

,EmployeeID,Name,Department,Location,JoiningDate,Salary,PerformanceScore,BonusEligible,Gender,Age,WorkFromHome,ProjectsHandled,Certifications
0,1001,William Chaney,Marketing,Boston,2024-08-23,160169.0,4.65,False,Other,55,False,18,AWS
1,1002,Andre Stewart,Sales,Seattle,2016-07-27,58125.0,3.45,False,Other,46,True,10,Scrum Master
2,1003,Nicole Sandoval,Finance,Austin,2022-10-10,86059.0,4.49,False,Other,37,False,7,AWS
3,1004,Billy Lopez,Sales,New York,2017-02-01,153409.0,3.90,False,Other,55,False,9,AWS
4,1005,Charles Wyatt,Sales,Austin,2016-05-10,198159.0,1.48,False,Other,50,True,1,Azure
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1996,Margaret Duncan,IT,Seattle,2018-06-01,136120.0,2.08,False,Female,33,False,3,Azure
996,1997,Corey Johnson,Sales,New York,2024-04-13,164889.0,1.81,True,Male,25,True,10,PMP
997,1998,Samuel White,Engineering,New York,2020-10-01,191130.0,2.26,True,Male,45,False,10,Scrum Master
998,1999,Andrew Clark,Engineering,Austin,2024-05-19,124637.0,1.97,False,Male,50,True,14,NaN
999,2000,John Salazar,Sales,Boston,2019-06-22,NaN,1.86,False,Male,30,False,12,Azure

In [4]:
employee_df.to_csv(path_or_buf=r"C:\Users\heman\Desktop\chat gpt\data\Output\day5\employee_data.csv")

In [10]:
employee_df.to_excel(r"C:\Users\heman\Desktop\chat gpt\data\Output\day5\employee_data.xlsx")

In [12]:
employee_df.to_json(r"C:\Users\heman\Desktop\chat gpt\data\Output\day5\employee_data.json",orient='records')